.addcourse-container {
  margin: 0 2rem;
  padding: 0.5rem 1rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 32px;
  background-color: var(--background-white);
}

.addcourse-top {
  padding: 24px 40px;
}

.form-wizard-heading {
  font-family: var(--secondary-font);
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  display: flex;
  gap: 12px;
  align-items: center;
}

.thumbnail-img-wrapper>p,
.thumbnail-video-wrapper>p {
  font-family: var(--secondary-font);
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;

}

.image-container {
  background: #F5F7FA;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container img {
  max-width: 100%; /* Maximum width of the image is 100% of the container */
  max-height: 100%; /* Maximum height of the image is 100% of the container */
  object-fit: contain; /* Ensures the image is scaled to maintain its aspect ratio while fitting within the container's bounds */
}

.thumbnail-image-info {
  width: 344px;
  height: 138px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.thumbnail-img-container {
  width: 596px;
  height: 160px;
  display: flex;
  gap: 24px;
}

.thumbnail-image-info span {
  font-family: var(--secondary-font);
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.01em;
  text-align: left;
}

.course-description-wrapper {
  height: 250px;
}

.course-description-wrapper>p {
  font-family: var(--secondary-font);
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
}

.quill {
  height: 150px;
}

.addcourse-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 0 40px;
}

.addcourse-bottom {
  padding: 0 40px;
}

.course-text-field {
  flex: 1;
}

.course-text-field label {
  color: var(--text-dark);
  background: var(--background-white);
  font-size: 15px;
  font-weight: 600;
  letter-spacing: .03rem;
}

.course-text-field input,
textarea {
  color: var(--secondary-text);
  font-size: 17px;
  font-weight: 500;
  max-width: 100%;
  width: 100%;
  border: 1px solid var(--secondary-text);
  height: 50px;
  letter-spacing: .03rem;
  background-color: transparent;
  outline: none;
  transition: .25s;
  border-radius: 4px;
  text-indent: 20px;
  margin-top: 8px;
}

.course-text-field svg {
  position: absolute;
  right: -2px;
  bottom: -4px;
  width: 30px;
  height: 30px;
  background: var(--background-white);
  transform: translate(-50%, -50%);
  transform-origin: center;
}

.sub-text-field-left,
.sub-text-field-right {
  width: 100%;
}


.course-text-field input:focus,
textarea:focus {
  border: 1px solid var(--primary-new);
}

.course-category-search,
.course-sub-category-search {
  position: relative;
  width: 100%;
}

.course-category-search svg,
.course-sub-category-search svg {
  position: absolute;
  right: 10px;
  top: 50%;
  width: 30px;
  height: 30px;
  transform: translateY(0%);
}

.cancel-form-btn {
  color: var(--secondary-text);
  border: 1px solid var(--secondary-text);
  border-radius: 4px;
  padding: 0px 32px;
  font-family: var(--secondary-font);
  font-size: 18px;
  font-weight: 600;
  line-height: 50px;
  letter-spacing: -0.01em;
}

.next-form-btn {
  color: var(--background-white);
  background-color: var(--primary-new);
  border: 1px solid var(--primary-new);
  border-radius: 4px;
  padding: 0px 32px;
  font-family: var(--secondary-font);
  font-size: 18px;
  font-weight: 600;
  line-height: 50px;
  letter-spacing: -0.01em;
  align-items: center;
  justify-content: center;
  gap: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.course-topics-wrapper p {
  font-family: var(--secondary-font);
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
}

.course-topics-wrapper button {
  font-family: var(--secondary-font);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.01em;
  color: #FF6636;
}

.remove-btn {
  position: relative;
}

.remove-btn svg {
  bottom: 25px;
  height: 20px;
}

.course-curriculam-container {
  background-color: #F5F7FA;
  padding: 24px;
}

.course-curriculam-wrapper {
  background-color: #F5F7FA;
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex: 1;
}

.static-curriculam {
  font-family: var(--secondary-font);
  color: var(--text-dark);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.dynamic-curriculam {
  font-family: var(--secondary-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.action-btn {
  filter: grayscale(100%);
}

.action-btn:hover {
  filter: none;
  transition: filter 0.2s ease;
}

.curriculam-list {
  background-color: var(--background-white);
  height: 64px;
  padding: 12px 20px;
  position: relative;
}

.curriculam-content-btn {
  color: var(--background-white);
  background-color: var(--primary-new);
  border: 1px solid var(--primary-new);
  border-radius: 4px;
  padding: 0px 16px;
  font-family: var(--secondary-font);
  font-size: 18px;
  font-weight: 600;
  line-height: 45px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.modal {
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding-bottom: 24px;
  border: 1px solid #888;
  width: 80%;
  max-width: 650px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.file-uploaded {
  color: #23BD33;
  font-size: 10px;
}

.file-note {
  color: #6c757d;
  font-size: 12px;
}

.pop-modal-topbar {
  border-bottom: 1px solid var(--secondary-white);
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pop-modal-topbar h4 {
  font-family: var(--secondary-font);

  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.dropdown-menu {
  position: absolute;
  /* Positioned relative to its parent specified by `position: relative;` */
  background-color: #ffffff;
  /* White background */
  border: 1px solid #ddd;
  /* Light grey border */
  border-radius: 4px;
  /* Rounded corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  /* Slight shadow for depth */
  padding: 10px 0;
  /* Some padding within the dropdown */
  z-index: 1000;
  /* Make sure it appears above other content */
  top: 100%;
  /* Position it directly below the button */
  left: 89%;
  /* Start from the middle of the button */
  transform: translateX(-50%);
  /* Adjust the position to center it under the button */
  min-width: 160px;
  /* Minimum width or width according to content */
}

.dropdown-menu div {
  color: #333;
  /* Darker text for better readability */
  padding: 8px 16px;
  /* Comfortable padding around items */
  cursor: pointer;
  /* Indicate items are clickable */
  text-align: left;
  /* Align text to the left */
  font-size: 14px;
  /* Set a default font size */
}

.dropdown-menu div:hover {
  background-color: #f6f6f6;
  /* Light grey background on hover */
}


.upload-thumbnail {
  position: relative;
  height: 150px;
  width: 100%;
  border: 2px dashed var(--primary-new);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.upload-text {
  color: var(--secondary-text);
  font-weight: 500;
  font-size: 16px;
}

.upload-thumbnail svg {
  width: 100px;
  height: 60px;
  background: transparent;
}

.course-thumbnail {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

textarea {
  resize: none;
  height: 160px;
}

.instructor-list-container {
  width: 312px;
  background-color: #F5F7FA;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 24px;
  height: 80px;
  padding: 10px;
}

.instructor-list-container span {
  font-family: var(--secondary-text);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.01em;
}