/* MEDIA QUERIES */

@media screen and (max-width: 1600px) {}

@media screen and (max-width: 1200px) {}

@media screen and (max-width: 900px) {}

@media screen and (max-width: 600px) {
    .coursedetails-container {
        flex-direction: column;
    }

    .coursedetails-wrapper-left {
        margin-top: -315px;
    }

    .coursedetails-wrapper-right {
        width: 100%;
        margin-top: 0;
    }

    .course-topic-list {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .top-details-wrapper>h1 {
        font-size: 26px;
    }

    .top-details-wrapper>h3 {
        font-size: 16px;
    }
}