.banner-container {
    background-color: var(--primary-new);
}

.dashboard-conatiner {
    margin: 0 2rem;
    padding: 0.5rem 1rem;
    margin-top: 0.5rem;
    background-color: var(--background);
    min-height: 100vh;
}

.top-banner {
    color: var(--background-white);
}

.banner-span {
    color: var(--primary-hover);
}

.course-progress, .schedule {
    background-color: var(--background-white);
    border-radius: 16px;
    box-shadow: var(--box-shadow);
    overflow: hidden;
    height:420px;

}

.course-details {
    padding: 12px 16px;
    max-width: 100%;
    background-color: var(--background-white);
    border-radius: 15px;
    box-shadow: var(--box-shadow-variant);
}

.course-image {
    width: 200px;
    height: 110px;
    border-radius: 10px;
}