.main-wrapper {
    width: 100%;
    min-height: 100%;
}

.hero-area {
    padding-top: 124px;
    padding-bottom: 60px;
    width: 100%;
    min-height: calc(100vh - 140.25px);
}

.hero-section {
    margin-left: calc(20% - 194px);
    margin-right: calc(20% - 194px);
    padding: 0 30px;
    display: flex;
    align-items: center;
}


.section-title h2 {
    font-family: var(--secondary-font);
    font-size: 42px;
    font-weight: 600;
    line-height: 56px;
    margin-bottom: 8px;
}

.hero-left-content p {
    font-family: var(--secondary-font);
    font-size: 16px;
    font-weight: 400;
    color: var(--secondary-text);
    margin-bottom: 20px;
    line-height: 1.5rem;
}

.hero-input input {
    background-color: var(--background-white);
    color: var(--secondary-text);
    font-size: 17px;
    font-weight: 500;
    max-width: 100%;
    width: 90%;
    border: 1px solid var(--primary-new);
    height: 60px;
    letter-spacing: .03rem;
    outline: none;
    transition: .25s;
    border-radius: 50px;
    text-indent: 20px;
    margin-top: 8px;
}

.hero-form {
    position: relative;
}

.hero-btn {
    width: 18%;
    padding: 14px;
    border-radius: 50px;
    background-color: var(--primary-new);
    font-family: var(--secondary-font);
    color: var(--background-white);
    position: absolute;
    top: 24%;
    right: 12%;
    font-weight: 500;
    font-size: 16px;
    white-space: nowrap;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    outline: none;
    font-size: 16px;
    letter-spacing: .025em;
    overflow: hidden;
}

.hero-btn:after {
    content: "";
    position: absolute;
    top: -50%;
    left: 0%;
    width: 20%;
    height: 200%;
    opacity: 0;
    transform: rotate(30deg);
    background: rgba(255, 255, 255, 0.13);
    background: linear-gradient(to right,
            rgba(255, 255, 255, 0.13) 0%,
            rgba(255, 255, 255, 0.13) 50%,
            rgba(255, 255, 255, 0.5) 95%,
            rgba(255, 255, 255, 0.0) 100%);
}

.hero-btn:hover:after {
    opacity: 1;
    left: 130%;
    transition-property: left, top, opacity;
    transition-duration: 0.6s, 0.6s, 0.10s;
    transition-timing-function: ease;
}

.course-category-container {
    width: 100%;
    min-height: 500px;
    padding: 80px 0;
}

.course-category-area {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    margin-left: calc(20% - 194px);
    margin-right: calc(20% - 194px);
    padding: 0 30px;
}

.course-category-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}

.course-category-area>h2 {
    font-family: var(--secondary-font);
    color: var(--text-dark);
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: -0.01em;
}

.category-cards {
    width: 295px;
    height: 104px;
    background-color: #EBEBFF;
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.category-sub-info h2 {
    font-family: var(--secondary-font);
    color: var(--text-dark);
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    text-align: left;
}

.category-sub-info span {
    font-family: var(--secondary-font);
    color: var(--secondary-text);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.01em;
    text-align: left;

}