.main-wrapper {
    width: 100%;
    min-height: 100%;
}

.hero-area {
    padding-top: 124px;
    padding-bottom: 60px;
    width: 100%;
    min-height: calc(100vh - 140.25px);
}

.hero-section {
    margin-left: calc(20% - 194px);
    margin-right: calc(20% - 194px);
    padding: 0 30px;
    display: flex;
    align-items: center;
}

.hero-img {
    width: auto;
    height: auto;
}


.section-title h2 {
    font-family: var(--secondary-font);
    font-size: 42px;
    font-weight: 600;
    line-height: 56px;
    margin-bottom: 8px;
}

.hero-left-content p {
    font-family: var(--secondary-font);
    font-size: 16px;
    font-weight: 400;
    color: var(--secondary-text);
    margin-bottom: 20px;
    line-height: 1.5rem;
}

.hero-input input {
    background-color: var(--background-white);
    color: var(--secondary-text);
    font-size: 17px;
    font-weight: 500;
    max-width: 100%;
    width: 90%;
    border: 1px solid var(--primary-new);
    height: 60px;
    letter-spacing: .03rem;
    outline: none;
    transition: .25s;
    border-radius: 50px;
    text-indent: 20px;
    margin-top: 8px;
}

.hero-form {
    position: relative;
}

.hero-btn {
    width: 18%;
    padding: 14px;
    border-radius: 50px;
    background-color: var(--primary-new);
    font-family: var(--secondary-font);
    color: var(--background-white);
    top: 24%;
    right: 12%;
    font-weight: 500;
    font-size: 16px;
    white-space: nowrap;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    outline: none;
    font-size: 16px;
    letter-spacing: .025em;
    overflow: hidden;
}

.course-category-container {
    width: 100%;
    min-height: 500px;
    padding: 80px 0;
}

.course-category-area {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    margin-left: calc(20% - 194px);
    margin-right: calc(20% - 194px);
    padding: 0 30px;
}

.course-category-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}

.course-category-area>h2,
.best-selling-area>h2,
.featured-heading>h2,
.recently-added-heading>h2,
.top-instructor-area>h2 {
    font-family: var(--secondary-font);
    color: var(--text-dark);
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: -0.01em;
}

.category-cards {
    width: 295px;
    height: 104px;
    display: flex;
    align-items: center;
    padding: 18px;
    gap: 20px;
}

.category-cards:hover {
    box-shadow: var(--box-shadow);
}

.category-sub-info h2 {
    font-family: var(--secondary-font);
    color: var(--text-dark);
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    text-align: left;
}

.category-sub-info span {
    font-family: var(--secondary-font);
    color: var(--secondary-text);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.01em;
    text-align: left;
}

.browse-category-cta p {
    font-family: var(--secondary-font);
    color: var(--secondary-text);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.01em;
    text-align: center;
}

.browse-category-cta button {
    font-family: var(--secondary-font);
    color: var(--btn-primary);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.01em;
    text-align: center;
}

.best-selling-container {
    width: 100%;
    min-height: 1100px;
    background-color: #f6f7fe;
    padding: 80px 0;
}

.best-selling-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.best-selling-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    justify-content: center;
}

.featured-course-area {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: -240px;
    width: 1400px;
    height: 532px;
    background-color: var(--background-white);
    border: 1px solid #E9EAF0;
    padding: 40px;
}

.featured-heading>p {
    font-family: var(--secondary-font);
    color: var(--secondary-text);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.01em;
    text-align: left;

}

.featured-course-container {
    padding: 80px 30px;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.featured-course-card-area {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    grid-auto-rows: minmax(100px, auto);
}

.recently-added-container {
    width: 100%;
    padding-bottom: 80px;
}

.recently-added-course-area {
    margin-left: calc(20% - 194px);
    margin-right: calc(20% - 194px);
    padding: 0 100px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.recently-added-course-card-area {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.browse-course-btn {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 0 24px;
    font-family: var(--secondary-font);
    color: var(--btn-primary);
    background-color: var(--btn-secondary);
    font-size: 16px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: -0.008em;
    text-align: left;
    overflow: hidden;
}

.become-instructor-container {
    background-color: #f6f7fe;
    min-height: 600px;
    width: 100%;
    padding: 80px 0;
}

.become-instructor-area {
    margin-left: calc(20% - 194px);
    margin-right: calc(20% - 194px);
    padding: 0 100px;
    display: flex;
    gap: 24px;
}

.become-instructor-cta {
    width: 50%;
    max-height: 270px;
    background-color: var(--btn-primary);
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.instructor-btn-container {
    width: 196px;
    height: 48px;
    position: relative;
}

.instructor-cta {
    gap: 12px;
    padding: 0 24px;
    font-size: 16px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: -0.008em;
    text-align: left;
    width: 196px;
    font-family: var(--secondary-font);
    color: var(--btn-primary);
    background-color: var(--btn-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.instructor-txt h3 {
    font-family: var(--secondary-font);
    color: var(--background-white);
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: -0.01em;
    text-align: left;
}

.instructor-txt p {
    font-family: var(--secondary-font);
    color: var(--background-white);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.01em;
    text-align: left;
    width: 60%;
}

.become-instructor-points {
    width: 50%;
    max-height: 270px;
    background-color: var(--background-white);
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 27px;
}

.become-instructor-points h3 {
    font-family: var(--secondary-font);
    color: var(--text-dark);
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: -0.01em;
    text-align: left;
}

.instructor-point-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.list-text p {
    font-family: var(--secondary-font);
    color: var(--text-dark);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.top-instructor-container {
    padding: 80px 30px;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.top-instructor-area {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: -240px;
    width: 1400px;
    min-height: 532px;
    background-color: var(--background-white);
    border: 1px solid #E9EAF0;
    padding: 40px;
}

.trusted-companies-container {
    padding: 80px 0;
}

.trusted-companies-area {
    /* margin: 0 150px; */
    margin-left: calc(20% - 194px);
    margin-right: calc(20% - 194px);
    padding: 0 100px;
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
}

.left-text-container {
    width: 424px;
    min-height: 130px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.left-text-container h3 {
    font-family: var(--secondary-font);
    color: var(--text-dark);
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: -0.01em;
    text-align: left;
}

.left-text-container p {
    font-family: var(--secondary-font);
    color: var(--secondary-text);
    width: 70%;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.01em;
    text-align: left;
}

.trusted-companies-wrapper {
    background-color: var(--background-white);
    box-shadow: var(--box-shadow);
    width: 200px;
    height: 100px;
    padding: 0 50px;
    display: flex;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1600px) {

    .best-selling-wrapper,
    .course-category-cards {
        grid-template-columns: repeat(4, 1fr);
        margin: 0 220px;
    }
}

@media screen and (max-width: 1200px) {

    .best-selling-wrapper,
    .course-category-cards {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 900px) {

    .best-selling-wrapper,
    .course-category-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 600px) {

    .best-selling-wrapper,
    .course-category-cards {
        grid-template-columns: repeat(1, 1fr);
    }
}