.chatlist-container {
    width: 30%;
    min-height: 83vh;
    max-height: 83vh;
    background-color: var(--background-white);
}

.chatlist-heading>h6 {
    font-family: var(--secondary-font);
    color: var(--text-dark);
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    text-align: left;
}

.compose-btn {
    background-color: #EBEBFF;
    padding: 0 16px;
    width: 121px;
    height: 40px;
    font-family: var(--secondary-font);
    color: #2189ff;
    font-size: 14px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: -0.004em;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 8px;
    overflow: hidden;
}

.search-input-wrapper {
    position: relative;
    flex: 1;
}

.search-input-wrapper svg {
    position: absolute;
    right: 10px;
    top: 20%;
    width: 30px;
    height: 30px;
    transform: translateY(0%);
}

.chatlist-area {
    width: 100%;
    display: block;
    min-height: 80%;
    max-height: 80%;
    overflow-y: auto;
}

.chatlist-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
}

.chatlist-wrapper:hover {
    background-color: var(--btn-secondary);
}

.image-wrapper img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.messenger-info-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.messenger-info-wrapper>h6 {
    font-family: var(--secondary-font);
    color: var(--text-dark);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.01em;
    text-align: left;
}

.messenger-info-wrapper>span {
    font-family: var(--secondary-font);
    color: var(--secondary-text);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.01em;
    text-align: right;
}

.messenger-text>p {
    font-family: var(--secondary-font);
    color: #4E5566;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.01em;
    text-align: left;
}

.messenger-container {
    background-color: var(--background-white);
    flex-grow: 1;
    width: 70%;
    max-height: 83vh;
    min-height: 83vh;
}

.messenger-information img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.messenger-details>h6 {
    font-family: var(--secondary-font);
    color: var(--text-dark);
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
}

.messenger-details>span {
    font-family: var(--secondary-font);
    color: var(--secondary-text);
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.01em;
    text-align: center;
}

.messenger-message-area {
    min-height: 67%;
    max-height: 71%;
    padding: 14px;
    margin-bottom: 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
    gap: 12px;
}

.send-message-area {
    height: 15%;
    padding: 24px;
}

.send-message-area input,
.search-input-wrapper input {
    height: 48px;
    border: 1px solid #E9EAF0;
    color: var(--secondary-text);
    font-size: 17px;
    font-weight: 500;
    max-width: 100%;
    width: 100%;
    letter-spacing: .03rem;
    background-color: transparent;
    outline: none;
    transition: .25s;
    text-indent: 20px;
}

.message-send-btn {
    width: 124px;
    height: 48px;
    display: flex;
    flex-grow: 1;
    align-items: center;
    gap: 8px;
    padding: 0 24px;
    background-color: var(--btn-primary);
    font-family: var(--secondary-font);
    color: var(--background-white);
    font-size: 16px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: -0.008em;
    text-align: left;
    overflow: hidden;
}

.message {
    padding: 8px 12px;
    margin: 5px;
    max-width: 65%;
    min-width: 7%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    position: relative;
}

.message span {
    position: absolute;
    bottom: -20px;
    right: 0;
    color: var(--text-dark);
    font-size: 11px;
    font-weight: 400;
}

.sent {
    align-self: flex-end;
    background-color: var(--btn-primary);
    color: var(--background-white);
    text-align: right;
    font-family: var(--secondary-font);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.01em;
}

.received {
    align-self: flex-start;
    background-color: var(--btn-secondary);
    text-align: left;
    font-family: var(--secondary-font);
    color: var(--text-dark);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.01em;
}

.received .message-time {
    left: 0; 
}