.course-card-container {
    margin: 0 2rem;
    padding: 0.5rem 1rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.course-top-header>h4 {
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
}

.course-action-btn {
    font-size: 18px;
    padding: 0 32px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: -0.18px;
    border-radius: 4px;
    background-color: var(--primary-new);
    color: var(--background-white);
}

.course-action-btn img {
    filter: brightness(0) invert(1);
}

.course-list-card-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.course-list-cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 24px;
    justify-content: center;
}

.search-container {
    width: 100%;
    height: 72px;
    display: flex;
    position: relative;
}

.search-container svg {
    position: absolute;
    right: 10px;
    top: 42%;
    width: 25px;
    height: 25px;
    transform: translateY(0%);
}

.search-container input {
    background-color: var(--background-white);
    color: var(--secondary-text);
    font-size: 17px;
    font-weight: 500;
    max-width: 100%;
    width: 100%;
    border: 1px solid var(--secondary-text);
    height: 40px;
    letter-spacing: .03rem;
    outline: none;
    transition: .25s;
    border-radius: 4px;
    text-indent: 20px;
}

.search-container input:focus,
textarea:focus {
    border: 1px solid var(--primary-new);
}
