.card-container {
    width: 312px;
    box-shadow: var(--box-shadow-variant);
    border-radius: 12px 12px 0 0;
}

.card-wrapper {
    min-height: 100%;
}

.card-thumbnail {
    height: auto;
    width: auto;
}

.card-data {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px 18px;
}



.card-course-title>h4 {
    font-family: var(--secondary-font);
    color: var(--text-dark);
    font-size: 16px;
    font-weight:500;
    line-height: 22px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 175px;
}

.course-card-title > h4 {
    font-family: var(--secondary-font);
    color: var(--text-dark);
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 270px;
}

.card-course-title>p {
    font-family: var(--secondary-font);
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
}

.card-course-instructor>span {
    font-family: var(--secondary-font);
    color: var(--secondary-text);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.14px;
}

.card-course-detail>.card-course-instructor {
    font-family: var(--secondary-font);
    font-size: 17px;
    font-weight: 500;
    line-height: 22px;
    color: var(--text-dark);
}

.card-course-price {
    font-family: var(--secondary-font);
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    color: var(--primary-new);
}

.course-card-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
}

.course-card-info span {
    font-family: var(--secondary-font);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.14px;
    color: var(--secondary-text);
}

.course-rating,
.total-students {
    display: flex;
    gap: 6px;
}

.total-students-data {
    display: flex;
    gap: 6px;
    font-family: var(--secondary-font);
    color: #8C94A3;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.01em;
    text-align: left;
}

.card-course-detail span {
    max-width: 150px;
    padding: 4px 6px;
    font-family: var(--secondary-font);
    font-size: 10px;
    font-weight: 500;
    line-height: 12px;
    text-align: left;
    text-transform: uppercase;
}