.full-course-card-wrapper{
    position: relative;
    /* overflow: hidden; */
    transition: all 0.3s ease;
}

.card-container {
    width: 312px;
    background-color: var(--background-white);
    border: 1px solid #E9EAF0;
}

.card-container:hover .course-hover-details{
    box-shadow: var(--box-shadow-variant);
    opacity: 1;
}


.card-wrapper {
    min-height: 100%;
}

.card-thumbnail {
    height: auto;
    width: auto;
}

.card-data {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px 18px;
}



.card-course-title>h4 {
    font-family: var(--secondary-font);
    color: var(--text-dark);
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 175px;
}

.course-card-title>h4 {
    font-family: var(--secondary-font);
    color: var(--text-dark);
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 270px;
}

.card-course-title>p {
    font-family: var(--secondary-font);
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
}

.card-course-instructor>span {
    font-family: var(--secondary-font);
    color: var(--secondary-text);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.14px;
}

.card-course-detail>.card-course-instructor {
    font-family: var(--secondary-font);
    font-size: 17px;
    font-weight: 500;
    line-height: 22px;
    color: var(--text-dark);
}

.card-course-price {
    font-family: var(--secondary-font);
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    color: var(--primary-new);
}

.course-card-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
}

.course-card-info span {
    font-family: var(--secondary-font);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.14px;
    color: var(--secondary-text);
}

.course-rating,
.hover-course-rating,
.total-students {
    display: flex;
    gap: 6px;
}

.total-students-data {
    display: flex;
    gap: 6px;
    font-family: var(--secondary-font);
    color: #8C94A3;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.01em;
    text-align: left;
}

.card-course-detail span {
    max-width: 150px;
    padding: 4px 6px;
    font-family: var(--secondary-font);
    font-size: 10px;
    font-weight: 500;
    line-height: 12px;
    text-align: left;
    text-transform: uppercase;
    display: inline-block;
}

.instructor-name span {
    font-family: var(--secondary-font);
    color: var(--secondary-text);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.01em;
}

.instructor-name p {
    font-family: var(--secondary-font);
    color: var(--text-dark);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.01em;
    text-align: left;
}

.course-hover-details {
    padding: 20px;
    background-color: var(--background-white);
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    justify-content: center;
    top: 0;
    left: 50px;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.course-hover-details:hover {
    opacity: 1;
    z-index: 100;
}

.hover-course-rating p {
    font-family: var(--secondary-font);
    color: var(--text-dark);
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    text-align: left;
}

.hover-course-rating span {
    font-family: var(--secondary-font);
    color: var(--secondary-text);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.01em;
    text-align: left;
}

.hover-price-wrapper h5 {
    font-family: var(--secondary-font);
    color: var(--text-dark);
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
}

.hover-price-wrapper span {
    font-family: var(--secondary-font);
    color: var(--secondary-text);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.discount-ribbon {
    padding: 8px 12px;
    background-color: var(--btn-secondary);
    color: var(--btn-primary);
    font-family: var(--secondary-text);
    font-weight: 500;
    font-size: 14px;
    display: inline-flex;
}

.whishlist-container {
    padding: 12px;
    width: 48px;
    height: 48px;
    background-color: var(--btn-secondary);
}

.topics-point-list h6 {
    font-family: var(--secondary-font);
    color: var(--text-dark);
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
    text-align: left;
}

.hover-topics-list span {
    font-family: var(--secondary-font);
    color: var(--secondary-text);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.01em;
    text-align: left;
}

.add-to-cart-btn {
    color: var(--background-white);
    background-color: var(--btn-primary);
    border: 1px solid var(--btn-primary);
    padding: 0px 32px;
    font-family: var(--secondary-font);
    font-size: 18px;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: -0.01em;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    width: 100%;
    overflow: hidden;
}

.buy-now-btn {
    color: var(--btn-primary);
    background-color: var(--btn-secondary);
    border: 1px solid var(--btn-secondary);
    padding: 0px 32px;
    font-family: var(--secondary-font);
    font-size: 18px;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: -0.01em;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    width: 100%;
    overflow: hidden;
}