.banner-container {
    background-color: var(--primary-new);
}

.dashboard-conatiner {
    margin: 0 2rem;
    padding: 0.5rem 1rem;
    margin-top: 0.5rem;
    background-color: var(--background);
    min-height: 100vh;
}

.top-banner {
    color: var(--background-white);
}

.banner-span {
    color: var(--primary-hover);
}

.recent-activity-heading h6 {
    font-family: var(--secondary-font);
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    text-align: left;
}

.recent-logs-data p {
    font-family: var(--secondary-font);
    color: var(--text-dark);
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.01em;
    text-align: left;
}

.recent-logs-data span {
    font-family: var(--secondary-font);
    color: var(--secondary-text);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.01em;
    text-align: left;
}

.course-progress,
.schedule,
.course-rating-container,
.profile-clicks-container,
.space-stats-container {
    background-color: var(--background-white);
    box-shadow: var(--box-shadow);
    overflow: hidden;
    height: 420px;
}