.banner-container {
    background-color: var(--primary-new);
}

.dashboard-container {
    margin: 0 2rem;
    padding: 0.5rem 1rem;
    margin-top: 0.5rem;
    background-color: var(--background);
    min-height: 100vh;
}

.top-banner {
    color: var(--background-white);
}

.banner-span {
    color: var(--primary-hover);
}

.recent-activity-heading>h6,
.course-overview-heading>h6,
.course-rating-heading>h6,
.profile-clicks-heading>h6,
.space-stats-heading>h6 {
    font-family: var(--secondary-font);
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    text-align: left;
}

.recent-logs-data p {
    font-family: var(--secondary-font);
    color: var(--text-dark);
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.01em;
    text-align: left;
}

.recent-logs-data span {
    font-family: var(--secondary-font);
    color: var(--secondary-text);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.01em;
    text-align: left;
}

.course-overview-heading>p,
.course-rating-heading>p,
.profile-clicks-heading>p,
.space-stats-heading>p {
    font-family: var(--secondary-font);
    color: var(--secondary-text);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.01em;
    text-align: right;
}

.course-overview-heading span,
.course-rating-heading span,
.profile-clicks-heading span,
.space-stats-heading span {
    font-family: var(--secondary-font);
    color: var(--text-dark);
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.01em;
    text-align: right;
}

.course-progress,
.course-overview-container,
.course-rating-container,
.profile-clicks-container,
.space-stats-container {
    background-color: var(--background-white);
    box-shadow: var(--box-shadow);
    overflow: hidden;
    height: 420px;
}

.rating-area {
    width: 145px;
    height: 115px;
    padding: 15px 0;
    background-color: var(--btn-secondary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.rating-area>h5 {
    font-family: var(--secondary-font);
    color: var(--text-dark);
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: -0.01em;
    text-align: center;
}

.rating-visual>p {
    font-family: var(--secondary-font);
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.01em;
    text-align: center;
}