.footer-container {
    background-color: var(--text-dark);
    width: 100%;
    min-height: 376px;
    padding-top: 50px;
}

.footer-wrapper-top,
.footer-wrapper-bottom {
    border-bottom: 1px solid #363B4780;
}

.footer-top-area {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px 30px;
    display: flex;
    gap: 136px;
}

.footer-top-left-container h2 {
    font-family: var(--secondary-font);
    color: var(--background-white);
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: -0.01em;
    text-align: left;
}

.join-cta {
    width: 168px;
    padding: 0 24px;
    background-color: var(--btn-primary);
    font-family: var(--secondary-font);
    color: var(--background-white);
    font-size: 16px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: -0.008em;
    overflow: hidden;
}

.browse-cta {
    width: 197px;
    padding: 0 24px;
    background-color: #292b30;
    font-family: var(--secondary-font);
    color: var(--background-white);
    font-size: 16px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: -0.008em;
    overflow: hidden;
}

.stat-count h2 {
    font-family: var(--secondary-font);
    color: var(--background-white);
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: -0.01em;
    text-align: justified;
}

.stat-count p {
    font-family: var(--secondary-font);
    color: var(--secondary-text);
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    text-align: justified;

}

.footer-bottom-area {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px 30px;
    display: flex;
    gap: 24px;
}

.bottom-left-container p {
    font-family: var(--secondary-font);
    color: var(--secondary-text);
    width: 70%;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.01em;
}

.social-icon-wrapper {
    padding: 14px;
    background-color: #262a33;
    transition: all .5s ease;
}

.social-icon-wrapper:hover {
    cursor: pointer;
    background-color: var(--btn-primary);
}

.top-category-list>h6,
.quick-links-list>h6,
.support-links>h6,
.bottom-right-container>h6 {
    font-family: var(--secondary-font);
    color: var(--background-white);
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
}

.footer-nav-list {
    font-family: var(--secondary-font);
    color: var(--secondary-text);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.01em;
    padding: 6px 0;
    text-decoration: none;
    overflow: hidden;
    transition: color 0.3s ease;
}

.footer-nav-list span {
    position: relative;
    display: inline-block;
}

.footer-nav-list:hover {
    color: var(--background-white);
}

.footer-nav-list span::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: var(--btn-primary);
    transition: width 0.3s ease-in-out;
}

.footer-nav-list:hover span::after {
    width: 100%;
}

.copywrite-area {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding: 37px 30px;
}

.copywrite-left p {
    font-family: var(--secondary-font);
    color: var(--secondary-text);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.01em;
}

.copywrite-left span {
    color: var(--background-white);
}

/* MEDIA QUERIES */

@media screen and (max-width: 1600px) {}

@media screen and (max-width: 1200px) {}

@media screen and (max-width: 900px) {}

@media screen and (max-width: 600px) {

    .footer-top-area {
        flex-direction: column;
        gap: 48px;
        padding: 30px;
    }
 
    .footer-top-left-container h2 {
        font-size: 26px;
        line-height: 36px;
        text-align: center;
    }

    .footer-cta-btn {
        flex-direction: column;
    }

    .join-cta, .browse-cta {
        width: 100%;
    }

    .stat-count {
        width: 110px;
        gap: 0.25rem;
    }

    .stat-count h2 {
        font-size: 26px;
    }

    .stat-count p {
        font-size: 12px;
    }

    .footer-bottom-area {
        padding: 30px;
        flex-direction: column;
        gap: 48px;
    }

    .bottom-left-container p {
        width: 100%;
    }

    .top-category-list>h6, .quick-links-list>h6, .support-links>h6, .bottom-right-container>h6 {
        font-size: 12px;
    }
    
    .footer-nav-list {
        font-size: 12px;
    }

    .bottom-right-container {
        width: 100%;
    }

    .bottom-right-container>h6 {
        text-align: center;
    }

    .mob-app-container {
        flex-direction: row;
    }

    .copywrite-left p {
        font-size: 12px;
        text-align: center;
    }
}